*{
	margin:0px;
	padding:0px;
}

.container{  
	border-radius: 10px;  
	border:5px solid;  
	margin:auto;  
	height:auto;  
	width:auto;  
}  

.col-md-6{
	height:250px;
}

.btn.btn-success {  
  background-color: #1a73e8;
  font-size:20px;
  padding:10px;
}  

.form-control{
	padding:30px;
	font-size:30px !important; 
}

.dashboard-header {
        background: linear-gradient(to right, #007bff, #0056b3);
        color: white;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }